html,
body {
  background-color: #0c1718;
}

/* container */
#container {
  margin: auto auto;
  position: relative;
  top: 170px;
  width: 250px;
  height: 250px;
  /* bubble */
  > #bubble {
    margin: auto auto;
    position: relative;
    width: 250px;
    height: 250px;
    /* circle */
    > #circle {
      margin: auto auto;
      position: relative;
      width: 250px;
      height: 250px;
      background-color: #fc4404;
      border-radius: 50%;
      /* head */
      > #head {
        margin: auto auto;
        position: relative;
        top: 60px;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-color: #feffff;
        transform: skewX(50deg);
        transform: rotateX(45deg);
        /* headshadow */
        > #headshadow {
          margin: auto auto;
          position: relative;
          top: 80px;
          width: 135px;
          height: 75px;
          border-radius: 50%;
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          box-shadow: inset 0px 0px 150px 0px rgba(12, 23, 24, 0.05);
        }
      }
      /* leftear */
      > #leftear {
        margin: auto auto;
        position: relative;
        top: -65px;
        left: -75px;
        width: 40px;
        height: 40px;
        background-color: #feffff;
        clip-path: circle(100px at 0px 0px);
        border-radius: 50%;
        > #leshadow {
          margin: auto auto;
          position: relative;
          top: 28px;
          left: -7px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: rotateZ(10deg);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          box-shadow: inset 0px 0px 50px 0px rgba(12, 23, 24, 0.1);
        }
      }
      /* rightear */
      > #rightear {
        margin: auto auto;
        position: relative;
        top: -105px;
        left: 75px;
        width: 40px;
        height: 40px;
        background-color: #feffff;
        clip-path: circle(100px at 0px 0px);
        border-radius: 50%;
        > #reshadow {
          margin: auto auto;
          position: relative;
          top: 28px;
          left: 8px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: rotateZ(-30deg);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          box-shadow: inset 0px 0px 50px 0px rgba(12, 23, 24, 0.1);
        }
      }
      /* lefteye */
      > #lefteye {
        margin: auto auto;
        position: relative;
        top: 10px;
        left: 17px;
        width: 15px;
        height: 15px;
        background-color: #fc4404;
        border-radius: 50%;
        clip-path: ellipse(20% 100% at 40% 40%);
      }
      /* righteye */
      /* mouth */
      > #mouth {
        margin: auto auto;
        position: relative;
        top: -120px;
        width: 50px;
        height: 45px;
        background-color: #0c1718;
        clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
        border-radius: 50%;
      }
      /* antenna */
      /* aball */
    }
    #tail {
      margin: auto auto;
      position: absolute;
      top: 100px;
      left: -20px;
      width: 150px;
      height: 150px;
      /* background-color: white; */
      #arrow-up {
        margin: auto auto;
        position: relative;
        top: 95px;
        left: 0px;
        width: 0px;
        height: 0px;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-bottom: 55px solid #fc4404;
      }
    }
  }
}
